/* #393E46, #6D9886, #F2E7D5 */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html,
body {
  font-size: 16px;
  color: #f2e7d5;
  background-color: #393e46;
}

.navbar {
  display: flex;
  margin: 32px 64px;
  font-size: 20px;
}

.logo {
  width: 10%;
  font-size: 32px;
  letter-spacing: 5px;
  font-weight: 900;
}

.logo strong {
  border: 3px solid #6d9886;
  padding: 10px;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
}

.logo strong:hover {
  color: #6d9886;
  background-color: #f2e7d5;
  cursor: pointer;
}

.aside {
  width: 100%;
  display: flex;
  justify-content: end;
}

.aside .nav-item {
  position: relative;
  margin-left: 32px;
  display: flex;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.nav-item:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: 0;
  width: 10%;
  left: 0;
  right: 0;
  transition: all 250ms ease-in-out;
}

.aside .nav-item:hover {
  color: #6d9886;
  cursor: pointer;
}

.aside .nav-item:hover:after {
  width: 100%;
  background: #6d9886;
}

.aside .nav-item svg {
  font-size: 24px;
  margin-right: 8px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {
  .navbar {
    font-size: 16px;
  }
  .aside .nav-item {
    margin-left: 16px;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    margin: 32px 16px;
  }
  .navbar .aside {
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 32px;
  }
  .navbar .aside .nav-item:nth-child(even) {
    text-align: right;
  }
  .navbar .aside .nav-item {
    margin: 0;
    width: 50%;
    padding: 16px 0;
  }
}
.section1-content {
  width: 100%;
  height: 400px;
  margin: auto;
}

.section1-content .text-1 {
  font-size: 80px;
}
.section1-content .text21 {
  font-size: 50px;
}  */
